# ==========================================
# INFLUXDB CONFIGURATIE
# ==========================================
INFLUX_USER=admin
INFLUX_PASSWORD=adminuser
INFLUX_ORG=school
INFLUX_BUCKET=sensordata
INFLUX_TOKEN=ERsBY15r_XZk-7cWWeJgSDPGMDSmLQd6AFucT9VzTfyxqRK-ciDy13o_0uwd9blFohbRk_DJeOJAK9mGV98z3Q==

# ==========================================
# PORTAINER CONFIGURATIE 
# ==========================================
PORTAINER_USER=admin
PORTAINER_PASSWORD=adminadminadmin